@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0c0c;
  --foreground: #fafafa;
  --accent: #F97316;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
